<div id="heading"></div>
<div class="scrollable-container">
  <p>I'm special, since my content scrolls and not the body.</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <div id="first" stickyThing [scrollContainer]="'.scrollable-container'">Sticky
  </div>
  <p>scrolling</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <div id="second" stickyThing [scrollContainer]="'.scrollable-container'">Another Sticky
  </div>
  <p>scrolling</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>End of scrolling</p>
</div>
<section class="another-scrollable-container">
  <p>I'm also special, since my content scrolls and not the body.</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <div id="third" stickyThing [scrollContainer]="'.another-scrollable-container'">Sticky
  </div>
  <p>scrolling</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <div id="fourth" stickyThing [scrollContainer]="'.another-scrollable-container'">Another Sticky
  </div>
  <p>scrolling</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>End of scrolling</p>
</section>
<div id="footer"></div>
