:host {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: auto;
  background-color: green;
}


.some-thing-sticky {
  background-color: #fff;
  padding: 15px;
  color: #000;
}

.another-scrollable-container {
  width: auto;
  height: 200px;
  overflow: auto;
  display: block;
  margin: 5em auto;

  div {
    background-color: #fff;
    border: 1px solid #333;
    padding: 15px;
    width: 200px;
  }
}
