section {
  overflow: hidden;
}

.scrollable-container {
  height: 300px;
  display: block;
  margin: 5em auto;
  overflow: scroll;
}

.another-scrollable-container {
  height: 300px;
  display: block;
  margin: 5em auto;
  overflow: scroll;
}
#heading {
  height: 100px;
  background-color: coral;
}
#first {
  background-color: coral;
}

#second {
  background-color: cornflowerblue;
}

#third {
  background-color: cornflowerblue;
}

#fourth {
  background-color: bisque;
}

p {
  height: 50px;
  background-color: aquamarine;
}

#footer {
  height: 200px;
  background-color: lightgoldenrodyellow;
}
