:host {
  background-color: #D1DBBD;
  color: #193441;
  display: block;
  min-height: 100vh;
}

a {
  color: #3E606F;
  text-decoration: underline;
}

.header {
  background-color: #193441;
  color: #D1DBBD;
  display: block;
}
