.header {
  background: DodgerBlue;
  color: #ffffff;
}

.some-header {
  padding: 50px 0;
  background: DarkOrange;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

.some-separator {
  height: 20px;
  background: #eee;
}

.content {
  min-height: 500px;
  background-color: #ccc;
}

.footer {
  height: 250px;
  background: DodgerBlue;
}
