<div class="fixed">
  Set a margin top: <input (change)="marginTop=+($event.target.value)" [value]="marginTop" id="top" type="text"> <br>
  Set margin bottom: <input (change)="marginBottom=+($event.target.value)" [value]="marginBottom" id="bottom"
                            type="text"> <br>
  <button id="enable-btn" type="button" (click)="enabled = !enabled">{{enabled ? 'disable' : 'enable'}}</button>
  <button id="enable-btn" type="button" (click)="inside.push(inside.length+1)">Add content inside</button>
  <button id="enable-btn" type="button" (click)="outside.push(outside.length+1)">Add content outside</button>
  <button id="enable-btn" type="button" (click)="stickyDirective.recalculate()">Recalculate offsets</button>
</div>
<div class="first" #boundary>
  <p>Some initial content</p>
  <p *ngFor="let item of outside">
    New content {{ item }}
  </p>
  <div class="container">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6">
        <div #spacer></div>
        <div
          class="some-thing-sticky"
          #stickyDirective="stickyDirective"
          stickyThing=""
          [spacer]="spacer"
          [boundary]="boundary"
          [marginTop]="marginTop"
          [enable]="enabled"
          [marginBottom]="marginBottom"
        >Hello
        <p *ngFor="let item of inside">
          New content {{ item }}
        </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="debug-line-1" class="debug-line">
  <div class="text">It should stop when reaching this with top.</div>
</div>

<div id="debug-line-2" class="debug-line">
  <div class="text">Or this with bottom.</div>
</div>
