$sticky-height: 200px;
$space-before: 500px;
$container-height: 500px;

:host {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.first {
  margin-top: $space-before;
  background: #91AA9D;
  height: $container-height;
  margin-bottom: 2500px;

  @media only screen and (max-width: 600px) {
    margin-top: $space-before / 2;
  }

}

.some-thing-sticky {
  margin-top: 5px;
  width: 100%;
  height: $sticky-height;
  background-color: #193441;
  color: #ffffff;
  text-align: center;

  &.large {
    height: $sticky-height + 50px;
  }
}

.debug-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: pink;

  .text {
    transform: translate(5px, -30px);
  }
}

#debug-line-1 {
  //top: $space-before + $container-height - $sticky-height;
  background-color: blue;
}

#debug-line-2 {
  //top: $container-height + $space-before;
  background-color: red;

}


.fixed {
  bottom: 0;
  position: fixed;
  left: 0;
  display: inline-block;
  background-color: #ffffff;
  padding: 5px;
  min-width: 1000px;
  z-index: 999999;
}
