:host {
  padding-bottom: 200vh;
  display: block;
}

.header {
  background-color: #193441;
  color: #D1DBBD;
  display: block;
}

a {
  color: #3E606F;
  text-decoration: underline;
}

.boundary-reached {
  background-color: orange;
}

.upper-bound-reached {
  background-color: yellowgreen;
}

section {
  min-height: 100vh;
}
.color {
  background-color: #D1DBBD;
  color: #193441;
}
.color-1 {
  background-color: #FCFFF5;
  color: #193441;
  path {
    fill: #193441;
  }
  p {
    background-color: #193441;
  }
}

.color-2 {
  background-color: #D1DBBD;
  color: #193441;
  path {
    fill: #193441;
  }
  p {
    background-color: #193441;
  }
}

.color-3 {
  background-color: #91AA9D;
  color: #193441;
  path {
    fill: #193441;
  }
  p {
    background-color: #193441;
  }
}

.color-4 {
  margin-top: -5vh;
  background-color: #91AA9D;
  color: #193441;
  path {
    fill: #193441;
  }
  p {
    background-color: #193441;
  }
}

.colorX {
  background-color: #91AA9D;
  z-index: 9999;
}
.wrap {
  padding-top: 50px;
  svg {
    width: 100%;
    height: auto;
    opacity: .7;
  }
  p {
    height: 25px;
    margin-bottom: 28px;
    opacity: .7;

    &:first-child {
      padding-top: 12px;
    }
  }
}
